USE [master]
GO
/****** Object:  Database [JAVAPROJECT]    Script Date: 2/25/2017 7:10:53 PM ******/
CREATE DATABASE [JAVAPROJECT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JAVAPROJECT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\JAVAPROJECT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JAVAPROJECT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\JAVAPROJECT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JAVAPROJECT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JAVAPROJECT]
GO
USE [JAVAPROJECT]
GO
/****** Object:  Table [dbo].[tbl_account]    Script Date: 2/25/2017 7:10:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_account](
	[accountID] [varchar](20) NOT NULL,
	[pin] [varchar](6) NOT NULL,
	[balance] [float] NOT NULL,
	[benefit] [float] NOT NULL,
	[isExpired] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_account] PRIMARY KEY CLUSTERED 
(
	[accountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_customerInfo]    Script Date: 2/25/2017 7:10:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_customerInfo](
	[custID] [varchar](20) NOT NULL,
	[custName] [varchar](50) NOT NULL,
	[address1] [varchar](250) NOT NULL,
	[address2] [varchar](250) NOT NULL,
	[phone1] [varchar](12) NOT NULL,
	[phone2] [varchar](12) NOT NULL,
	[signature1] [varchar](250) NOT NULL,
	[signature2] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[custID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_transaction]    Script Date: 2/25/2017 7:10:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_transaction](
	[transID] [int] IDENTITY(1,1) NOT NULL,
	[transDate] [datetime] NOT NULL,
	[type] [int] NOT NULL,
	[amount] [float] NOT NULL,
	[reason] [varchar](250) NOT NULL,
	[accountID] [varchar](20) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_transaction] PRIMARY KEY CLUSTERED 
(
	[transID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[tbl_account] ([accountID], [pin], [balance], [benefit], [isExpired]) VALUES (N'123', N'123123', 4936000, 123, 0)
INSERT [dbo].[tbl_account] ([accountID], [pin], [balance], [benefit], [isExpired]) VALUES (N'456', N'456456', 614000, 456, 0)
INSERT [dbo].[tbl_account] ([accountID], [pin], [balance], [benefit], [isExpired]) VALUES (N'DUC', N'DUCDUC', 80000, 500, 0)
SET IDENTITY_INSERT [dbo].[tbl_transaction] ON 

INSERT [dbo].[tbl_transaction] ([transID], [transDate], [type], [amount], [reason], [accountID], [status]) VALUES (1, CAST(N'2012-12-12T00:00:00.000' AS DateTime), 2, 300, N'NO REASON', N'DUC', 1)
INSERT [dbo].[tbl_transaction] ([transID], [transDate], [type], [amount], [reason], [accountID], [status]) VALUES (2, CAST(N'2017-02-25T16:49:16.847' AS DateTime), 2, 2000, N'NO REASON', N'123', 0)
INSERT [dbo].[tbl_transaction] ([transID], [transDate], [type], [amount], [reason], [accountID], [status]) VALUES (3, CAST(N'2017-02-25T16:57:07.253' AS DateTime), 2, 10000, N'NO REASON', N'123', 0)
SET IDENTITY_INSERT [dbo].[tbl_transaction] OFF
ALTER TABLE [dbo].[tbl_transaction] ADD  CONSTRAINT [DF_tbl_transaction_transDate]  DEFAULT (getdate()) FOR [transDate]
GO
ALTER TABLE [dbo].[tbl_transaction] ADD  CONSTRAINT [DF_tbl_transaction_status]  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[tbl_customerInfo]  WITH CHECK ADD  CONSTRAINT [FK_tbl_customerInfo_tbl_account] FOREIGN KEY([custID])
REFERENCES [dbo].[tbl_account] ([accountID])
GO
ALTER TABLE [dbo].[tbl_customerInfo] CHECK CONSTRAINT [FK_tbl_customerInfo_tbl_account]
GO
ALTER TABLE [dbo].[tbl_transaction]  WITH CHECK ADD  CONSTRAINT [FK_tbl_transaction_tbl_account] FOREIGN KEY([accountID])
REFERENCES [dbo].[tbl_account] ([accountID])
GO
ALTER TABLE [dbo].[tbl_transaction] CHECK CONSTRAINT [FK_tbl_transaction_tbl_account]
GO
USE [master]
GO
