<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>sample.servlet.ControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add2NumServlet</servlet-name>
        <servlet-class>sample.servlet.Add2NumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sub2NumServlet</servlet-name>
        <servlet-class>sample.servlet.Sub2NumServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/ControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add2NumServlet</servlet-name>
        <url-pattern>/Add2NumServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sub2NumServlet</servlet-name>
        <url-pattern>/Sub2NumServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Calculator.html</welcome-file>
    </welcome-file-list>
</web-app>
