USE [master]
GO
/****** Object:  Database [JAVAASS]    Script Date: 3/12/2017 8:55:23 PM ******/
CREATE DATABASE [JAVAASS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JAVAASS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\JAVAASS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JAVAASS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\JAVAASS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JAVAASS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JAVAASS]
GO
USE [JAVAASS]
GO
/****** Object:  Table [dbo].[tbl_account]    Script Date: 3/12/2017 8:55:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_account](
	[accountId] [varchar](20) NOT NULL,
	[pin] [varchar](6) NOT NULL,
	[balance] [float] NOT NULL,
	[benefit] [float] NOT NULL,
	[isExpired] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_account] PRIMARY KEY CLUSTERED 
(
	[accountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_customerInfo]    Script Date: 3/12/2017 8:55:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_customerInfo](
	[custID] [varchar](20) NOT NULL,
	[custName] [varchar](50) NOT NULL,
	[address1] [varchar](250) NOT NULL,
	[address2] [varchar](250) NOT NULL,
	[phone1] [varchar](12) NOT NULL,
	[phone2] [varchar](12) NOT NULL,
	[signature1] [varchar](250) NOT NULL,
	[signature2] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[custID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_transaction]    Script Date: 3/12/2017 8:55:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_transaction](
	[transId] [int] IDENTITY(1,1) NOT NULL,
	[transDate] [datetime] NOT NULL,
	[type] [int] NOT NULL,
	[amount] [float] NOT NULL,
	[reason] [varchar](150) NOT NULL,
	[accountId] [varchar](20) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_transaction] PRIMARY KEY CLUSTERED 
(
	[transId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[tbl_customerInfo]  WITH CHECK ADD  CONSTRAINT [FK_tbl_customerInfo_tbl_account] FOREIGN KEY([custID])
REFERENCES [dbo].[tbl_account] ([accountId])
GO
ALTER TABLE [dbo].[tbl_customerInfo] CHECK CONSTRAINT [FK_tbl_customerInfo_tbl_account]
GO
ALTER TABLE [dbo].[tbl_transaction]  WITH CHECK ADD  CONSTRAINT [FK_tbl_transaction_tbl_account] FOREIGN KEY([accountId])
REFERENCES [dbo].[tbl_account] ([accountId])
GO
ALTER TABLE [dbo].[tbl_transaction] CHECK CONSTRAINT [FK_tbl_transaction_tbl_account]
GO
USE [master]
GO
